body {
    background: url(1100.png);
    background-size: cover;
}

h1 {
    color: white;
    font-family: 'Rock Salt', cursive;
}

table {
    width: 100%;
    color: white;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}
  
thead th {
    font-family: 'Della Respira', cursive;
    font-size: medium;
}

tbody {
    font-family: 'Comfortaa', cursive;
    /* background-color: white; */
    font-size: small;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    text-align: center;
}

thead th {
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
    text-shadow: 1px 1px 1px black;
}