/* spacing */

body {
    background: url(1100.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
    font-family: 'Rock Salt', cursive;
}

table {
    width: 100%;
    text-shadow: 1px 1px 1px black;
    color: white;
    line-height: 23px;
    border-collapse: collapse;
}


/* typography */

  
thead th {
    font-family: 'Della Respira', cursive;
    font-size: medium;
}

tbody {
    font-family: 'Comfortaa', cursive;
    /* background-color: white; */
    font-size: small;
    background: rgba(255, 255, 255, 0.8);
    color: black;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

tbody td {
    text-align: center;
}


/* graphics and colors */

thead th {
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
    border: 3px solid #082444;
}